:root {
  --light-color: lightgrey;
  --dark-color: maroon;
}

html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-color);
  margin-bottom: 20px;
  font-size: 25px;
  width: 100%;
  height: 25px;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 50vh;
}

main p {
  font-size: 1.5rem;
  padding: 1.5rem;
}

main h1 {
  font-size: 60px;
}

header {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  padding: 25px;
  font-size: 24px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none; 
}

button:hover a {
  color: var(--light-color);
}

a {
  text-decoration: none; 
  color: black;
}

.highscoreBtn {
  font-size: 20px;
  font-weight: bold;
  border: 4px solid var(--dark-color);
  border-radius: 24px;
  padding: 14px 34px;
  margin: 16px 16px 16px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
  0px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.highscoreBtn:hover {
color: var(--light-color);
background-color: var(--dark-color);
transition: all 250ms ease;
}

#highscore-submit-btn {
  display: flex;
  padding: 14px 34px;
  margin: 16px 16px 16px 20px;  
  text-align: center;
  cursor: pointer;
  border: 4px solid var(--dark-color);
  border-radius: 24px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

#highscore-submit-btn:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
  transition: all 250ms ease;
}


.timer {
  font-size: 30px;
  padding: 25px;
  margin-right: 16px;
  margin-left: auto;
  color: var(--dark-color);
  font-weight: bolder;
}

.home {
  display: static;
  margin-bottom: 20px;
}

.home p {
  margin: 30px;
}

.container {
  margin: auto;
  width: 100%;
  height: 100px;
  text-align: center;
}

.answers {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.answer-button {
  padding: 1rem;
  width: 100%;
  margin: 1rem 0;
  font-size: 20px;
  font-weight: bold;
  position: static;
}

.answer-button:hover {
  color: white;
  background-color: maroon;
  transition: .3s ease-in-out;
}

.startBtn {
  font-size: 20px;
  font-weight: bold;
  border: 4px solid var(--dark-color);
  border-radius: 24px;
  padding: 14px 34px;
  margin: 20px 16px 16px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
  0px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.startBtn:hover {
  color: var(--light-color);
  background-color: var(--dark-color);
  transition: all 250ms ease;
}

#game-score {
  color: var(--dark-color);
  display: flex;
  padding: 1.0rem;
}

.questions {
  display: flex;
  position: relative;
  padding: 1.0rem;
  border: var(--dark-color);
}

input {
  font-size: 16px;
  border: 2px solid black;
}

label {
  font-size: 1.0rem;
}
#feedback {
  padding: 1.5rem;
  position: sticky;
  margin-top: 12px;
}


@media (max-width: 690px) {
  .startBtn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  
  #startButton {
    font-size: 1rem;
  }
}
  
@media (max-width: 500px) {
  .startBtn {
    font-size: 0.8rem;
  }
}

@media (max-width: 690px) {
  .highscoreBtn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
  
  #highscoreButton {
    font-size: 1rem;
  }
}
  
@media (max-width: 500px) {
  .highscoreBtn {
    font-size: 0.8rem;
  }
}
